div.row-fluid
	div.well.span3
		h4 Day 1
		blockquote
			p 
				ul
					li Created application structure
			small Author: 
				cite(title="Mario Bašić") Mario Bašić
				| , 27.11.2012

	div.well.span3
		h4 Day 2
		blockquote
			p
				ul
					li Used Bootstrap to define the application design. 
					li Reordered python files to improve import organization.
					li Defined application functionality
			small Author: 
				cite(title="Mario Bašić") Mario Bašić
				| , 28.11.2012

	div.well.span3
		h4 Day 3
		blockquote
			p
				ul
					li Using backbone.js created log in / log out bar
					li Created server api for handling session 
					li Dropped marionette.js because it lacks documentation
			small Author: 
				cite(title="Mario Bašić") Mario Bašić
				| , 29.11.2012

	div.well.span3
		h4 Day 4
		blockquote
			p
				ul
					li Created a backbone router to handle navigation
					li Created a view for showing blog posts :)
					li Created a view for showing registration form
					li Updated site with icons
					li Using sessionStorage for handling sessions
					li Users can now register; need to implement md5
			small Author: 
				cite(title="Mario Bašić") Mario Bašić
				| , 30.11.2012

div.row-fluid
	div.well.span3
		h4 Day 5
		blockquote
			p
				ul
					li Implemented proper use of views and router in backbone.js
					li Minor modifications to the project structure and git
			small Author: 
				cite(title="Mario Bašić") Mario Bašić
				| , 04.12.2012

	div.well.span3
		h4 Day 6
		blockquote
			p
				ul
					li Implemented doT.js templating engine
					li Very happy :)
			small Author: 
				cite(title="Mario Bašić") Mario Bašić
				| , 10.12.2012

	div.well.span3
		h4 Day 7
		blockquote
			p
				ul
					li Removed doT.js templating engine
					li Jade is the best!
					li Created a new model in database for history tracking
					li backbone: model and collection for notes
					li backbone: view for notes, read and write
			small Author: 
				cite(title="Mario Bašić") Mario Bašić
				| , 14.12.2012